h1 {
	font-family:verdana; 
	color:aqua;
}

body {
	font-family:verdana; 
	border: 8px #d9d9d9 solid;
	padding: 20px;
}

strong {
	color:aqua;
}

button {
	background-color:aqua;
	text-transform: uppercase;
	border-radius: 10px;
	height: 30px;
	width: 130px;
	text-align: center;
}

a:link {
	color: aqua;
	text-transform: uppercase;
}

a:visited {
	color: gray;
	text-transform: uppercase;
	text-decoration: none;
}

td {
  border: 1px gray dotted;
  padding: 5px;
  float: left;
}

td:hover {
  border: 6px #d9d9d9 solid;
} 

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}